name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: ${{ matrix.tox_env }}
    runs-on: ${{ matrix.os || 'ubuntu-latest' }}

    services:
      mariadb:
        image: mariadb:latest
        ports:
          - 3306:3306
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
        options: >-
          --health-cmd="mariadb-admin ping" 
          --health-interval=10s 
          --health-timeout=5s 
          --health-retries=5

      postgres:
        image: postgres:latest
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_HOST_AUTH_METHOD: trust
          POSTGRES_DB: test_sa_filters
          POSTGRES_INITDB_ARGS: "--encoding=UTF8 --lc-collate=en_US.utf8 --lc-ctype=en_US.utf8"
        options: >-
          --health-cmd pg_isready 
          --health-interval 10s 
          --health-timeout 5s 
          --health-retries 5

    strategy:
      fail-fast: false
      matrix:
        include:
          - python: '3.10'
            tox_env: 'py310-sqlalchemy1.4'
          - python: '3.11'
            tox_env: 'py311-sqlalchemy1.4'
          - python: '3.12'
            tox_env: 'py312-sqlalchemy1.4'
          - python: '3.13'
            tox_env: 'py313-sqlalchemy1.4'
          - python: '3.14'
            tox_env: 'py314-sqlalchemy1.4'

          - python: '3.10'
            tox_env: 'py310-sqlalchemy2.0'
          - python: '3.11'
            tox_env: 'py311-sqlalchemy2.0'
          - python: '3.12'
            tox_env: 'py312-sqlalchemy2.0'
          - python: '3.13'
            tox_env: 'py313-sqlalchemy2.0'
          - python: '3.14'
            tox_env: 'py314-sqlalchemy2.0'

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
      - run: pip install tox
      - run: tox -e ${{ matrix.tox_env }}

  deploy:
    name: Build and publish
    runs-on: ubuntu-latest
    needs: [test]
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - name: Install pypa/build
        run: >-
          python -m
          pip install
          --upgrade build pip
          --user
      - name: Build a binary wheel and a source tarball
        run: python -m build
      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
